input[type=text] {
    width: 200px;
    padding: 15px 22px 15px;
    margin: 10px 5px;
    border: none;
    font-size: 24px;
    border-bottom: 4px solid #8842d5;
}

div.list {
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
}

ul li {
    background: #edece8;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

div.fund {
    text-align: center;
    list-style-type: none;
    padding-top: 20px;
    display: list-item;
}

input[type=text].modal {
    width: 200px;
    padding: 15px 22px 15px;
    margin: 10px 5px;
    border: none;
    font-size: 14px;
    border-bottom: 4px solid #8842d5;
}

form {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
  
form label {
    margin: 5px 10px 5px 0;
}

form input {
    width: 200px;
    padding: 15px 22px 15px;
    margin: 10px 5px;
    border: none;
    font-size: 24px;
    border-bottom: 4px solid #8842d5;
    
}

form button.update {
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
}

form button.update {
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
}

form button:hover {
    background-color: royalblue;
}

button.close {
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: orange;
    border: 1px solid #ddd;
    color: white;
}

button.close:hover {
    background-color: rgb(197, 130, 5);
}